<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<script src="../ANGULAR/angular-1.8.2/angular-1.8.2/angular.js"></script>
    <div ng-app="" style="{{style}} ">
        <input type="text" ng-model="style">
        <input type="number" ng-model="qty" placeholder="input quantity">
        <p>cost per unit = $200</p>
        <p ng-model="price">price = {{qty * 200 | currency}}</p>
        <p ng-model="tax" >Tax(10%) ={{ 0.1 * ( qty * 200) | currency }}</p>
        <p ng-model="total" >total ={{ (0.1 * qty * 200) + (qty * 200) | currency }}</p>
     </div>
</body>
</html>